.fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@
-webkit-keyframes fadeInDown { 0% {
	opacity: 0;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}

100%
{
opacity
:
 
1;
-webkit-transform
:
 
none
;

    
transform
:
 
none
;

  
}
}
@
keyframes fadeInDown { 0% {
	opacity: 0;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}

100%
{
opacity
:
 
1;
-webkit-transform
:
 
none
;

    
transform
:
 
none
;

  
}
}
.c {
	top: 50%;
	position: relative;
	margin: 0;
	padding: 0;
}

.cc {
	background-color: rgba(0, 0, 0, 0.5);
	color: white; height : 200px;
	text-align: center;
	height: 200px;
}

.cc:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.5);
	color: black;
	transition-duration: 0.5s;
}

.c label {
	margin: 0;
	padding: 0;
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

h1 {
	text-align: center;
	color: white;
}